
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>


    <title>Title</title>


</head>
 <body layout:fragment="content" class="main-margin-top">>

<div  class="col-sm-4 justify-content-center m-auto mt-3 border border-danger" >
    <h1>Edit Bus Form</h1>
    <form action="#" th:object="${bus}" th:action="${'/buses/update'}"  method="post">

        <input type="hidden"  th:field="*{id}" name="id">

        <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" placeholder="Bus Name" name="name" th:field="*{name}" />
        </div>

        <div class="form-group">
            <label>Type:</label>
            <input type="text" class="form-control" placeholder="Type" name="type" th:field="*{type}"/>
        </div>

        <!--<div class="form-group">
            <label>Seat Number:</label>
            <input type="number" placeholder="SeatNumber" class="form-control" name="seatNumber" th:field="*{seatNumber}"/>
        </div>-->


        <div class="form-group">
            <label>Registration Number:</label>
            <input type="text" class="form-control" placeholder="registration number" name="registrationNumber" th:field="*{registrationNumber}"readonly/>
        </div>
        <div class="form-group">
            <label>Capacity:</label>
            <input type="number" class="form-control" placeholder="capacity" name="capacity" th:field="*{capacity}"/>
        </div>


        <button class="btn btn-lg btn-primary btn-block" type="submit">Edit Bus Form</button>
    </form>
</div>

</body>
</html>