<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>


    <title>Title</title>


</head>
<body layout:fragment="content" class="main-margin-top">
<div class="justify-content-center m-auto mt-lg-5  bg-light" >


            <div class="container">
                <!--<h2>Centered Image</h2>
                <p>Center an image by adding the utility classes .mx-auto (margin:auto) and .d-block (display:block) to the-->
                <img src="images/about-us.jpg" class="mx-auto d-block" style="width:100%">
            </div>
            <div class="container">

                    <div class="row">
                        
                        <div class="col-md-8 cp-mobile-app-section pd-tb80">

                           <!-- <div class="clearfix">&nbsp</div>
                            <div class="clearfix">&nbsp</div>
                            <div class="clearfix">&nbsp</div>
-->
                            <h1 class="orange-color text-center">About us </h1>

                            <p class="text-justify m-4">


                                Founded in 2020, IRSHAAAD  Transport . A household name in the transportation
                                industry and one of the largest provider of intercity and interstate transportation, serving
                                more than 200 destinations across Nigeria and West Africa with a modern, environmentally friendly
                                fleet.

                            </p>
                            <p class="text-justify m-4">
                                The company has become an icon in the transportation industry, providing safe, enjoyable and affordable travel to millions
                                of passengers annually.
                            </p>

                            <p class="text-justify m-4">

                                While IRSHAAAD transport Co. is well known for its regularly scheduled passenger service, the company also provides a number of
                                other services for its customers such as value-priced same-day and early-next-day haulage and
                                package delivery to numerous destinations in Nigeria.


                            </p>

                        </div>

                    </div>
            </div>
</div>
        </body>
    </html>