<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>


    <title>Title</title>


</head>
<body layout:fragment="content" class="main-margin-top">
<div class="justify-content-center m-auto mt-lg-5  bg-light" >


      <img src="images/contact.png" class="mx-auto d-block" style="width:100%">

<div class="container col-sm-12">
    <div class="row ">
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-contact-head">
                        <i class="fa fa-headset  presentation"></i> Call Us</h4>
                    <span class="text-justify">
                        <i class="fas fa-phone mt-3" ></i>
                        &nbsp; Phone (+234) 8141694722
                    </span>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="text-contact-head">
                        <i class="fas fa-globe presentation"></i> Find us online</h4>
                    <ul>

                        <li >
                                <span  class="fa fa-envelope"></span>&nbsp; Email feedback@Irshaaadtransport.com</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>


<div class="col-sm-4">
    <div class="card">
        <div class="card-body">
            <ul>
                <h4 class="text-contact-head">
                    <i class="fab fa-whatsapp presentation text-success"></i> WhatsApp</h4>
                <li>
                        <span class="fab fa-whatsapp"></span>&nbsp; (+234) 8141694722</a>
                </li>

            </ul>
        </div>
    </div>


</div>


</div>



</div>
</div>
</body>