
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout2}">

<head>

    <title>Title</title>

</head>
<body layout:fragment="content" class="main-margin-top">
    <h1>Trip List</h1>
    <table class="table table-danger" id="tripTable">
        <thead>
        <tr>
            <th scope="col">S/N</th>
            <th scope="col">TripNumber</th>
            <th scope="col">Bus</th>
            <th scope="col">TakeOffTime</th>
            <th scope="col">LandingTime</th>
            <th scope="col">TakeOffPoint</th>
            <th scope="col">DestinationPoint</th>
            <th scope="col">Edit</th>
            <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="row : *{trips}">
            <td th:text="${row.getId()}"></td>
            <td th:text="${row.getTripNumber()}"></td>
            <td th:text="${row.getBus().getId()}"></td>
            <td th:text="${row.getTakeOffTime()}"></td>
            <td th:text="${row.getLandingTime()}"></td>
            <td th:text="${row.getTakeOffPoint()}"></td>
            <td th:text="${row.getDestinationPoint()}"></td>
            <td><a th:href="@{/trips/edit/{id}(id=${row.getId()})}"><button class="btn-warning" name="button">Edit</button></a></td>
            <td><a th:href="@{/trips/delete/{id}(id=${row.getId()})}"><button class="btn-danger" name="button">Delete</button></a></td>
        </tr>





    </table>
    <!--<h1 th:text="${message}"></h1>-->
</div>
    <th:block layout:fragment="optional" />
        <script>
            const table = document.getElementById("tripTable")
            function serialNo() {

                let s_No = 1;
                for (let line=1; line < table.rows.length; line++)
                {
                    table.rows[line].cells[0].innerHTML = s_No.toString();
                    s_No++;
                }

            }
            serialNo();

        </script>
</body>


</html>