<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout2}">
<head>

    <title>Title</title>

</head>

<body layout:fragment="content" class="main-margin-top"><div class="container">
    <h1>Passenger List</h1>
    <table class ="table table-dark">
        <thead>
        <tr>

        <th scope="col">Id</th>
        <th scope="col">LastName</th>
        <th scope="col">FirstName</th>
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <th scope="col">Address</th>
        <th scope="col">Age</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
    <tr th:each="row : *{passengers}">
        <td th:text="${row.getId()}"></td>
        <td th:text="${row.getLastName()}"></td>
        <td th:text="${row.getFirstName()}"></td>
        <td th:text="${row.getEmail()}"></td>
        <td th:text="${row.getPhone()}"></td>
        <td th:text="${row.getAddress()}"></td>
        <td th:text="${row.getAge()}"></td>
        <td><a th:href="@{/passengers/edit/{id}(id=${row.getId()})}"><button class="btn-warning" name="button">Edit</button></a></td>
        <td><a th:href="@{/passengers/delete/{id}(id=${row.getId()})}"><button class="btn-danger" name="button">Delete</button></a></td>
    </tr>
        </tbody>
    </table>
</div>

</body>
</html>