<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Welcome to Fly Right Airline-Edit Location</title>
</head>
<body>

<main layout:fragment="content" class="main-margin-top">
    <h3>Create Location</h3>
    <form method="post" th:object="${location}" th:action="${'/locations/update'}">
        <input type="hidden"  th:field="*{id}" name="id">
        <div class="form-group">
            <label>Registration Number:</label>
            <input type="text" class="form-control" th:field="*{code}" name="id">
        </div>
        <div>
            <input type="submit" name="creatCode" id="creatCode" value="Edit Location"/>
        </div>
    </form>
</main>
</body>
</html>